<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">


 <listeners>
  
  <listener class-name= "uiauomationsoarkster.report.ExtentReporterNG" />
  
  </listeners>
  
  
 
  
  
  
  <test thread-count="5" name="Test">
  
 
  
    <classes>
    
       
       
     
    
      <class name="ui.automation.widgettest.TcOO1_Widgetselection" />
      
     
      
    </classes>
    
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
